*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    display: flex;
}

.banner-img{
    background-image: url(../slike/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 3rem 3rem;
}
.header{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: .5rem;
}
.banner-img p{
    color: white;
}

.main{
    width: 95vw;
    padding: 2rem 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .header{
    color: #582c2c;
    font-size: 2rem;
    margin: auto;
}

.meet-the-team{
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000044;
    border: 1px solid #844242;
    border-radius: 25px;
    padding: 2rem 0;
}

.our-team{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    padding: 1rem 1rem;
}

.team-card{
    padding: 2rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #844242 0%, #582c2c 50%, #2c1616 100%);
    border-radius: 15px;
    border: 1px solid #844242;
    max-width: 20%;
}

.profile-img{
    margin-bottom: 1rem;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border: 2px solid #ff9797;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.205); */
}

.profile-img img{
    object-fit: cover;
    min-width: 50px;
    min-height: 50px;
}

.sub-header{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.team-card p{
    color: white;
    margin-bottom: 1rem;
}

.team-card a{
    color: white;
}

.story{
    width: 95vw;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.story .header{
    color: #582c2c;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 1rem;
}

.story p{
    color: black;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.story strong{
    color: #582c2c;
    border-bottom: 1px solid white;
    font-size: 1.4rem;
}

.container{
    width: 95vw;
    border: 2px solid #582c2c;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

@media (width < 1200px){
    .our-team{
        flex-wrap: wrap;
    }
    .team-card{
        max-width: 50%;
        margin-bottom: 1rem;
    }
}