@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, #844242 0%, #582c2c 50%, #2c1616 100%);

}
object{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 95vw;
    margin: auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    
}

.main-text{
    margin: 0 auto;
    text-align: center;
}

.header{
    margin-bottom: .5rem;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px solid #f0b5a3b6;
    margin-bottom: 1rem;
}

.main-text p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 2rem 2rem;
    max-width: 100%;
}

.blog-posts{
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
}

.post{
    padding: 1rem 2rem;
    background-color: rgb(241, 241, 241);
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 0;
}

.post-img{
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: transparent;
    border-radius: 40px 0;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.233);
}

.post-img img{
    object-fit: cover;
    min-width: 400px;
    height: 300px;
}

.sub-header{
    color: #844242;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.post p{
    font-size: .9rem;
    margin-bottom: 1rem;
}

.post button{
    padding: .5rem 3rem;
    background-color: transparent;
    border: 1px solid #844242;
    border-radius: 50px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post button:hover{
    background-color: #844242;
    border-color: #844242;
    color: white;
}

.pagination a{
    color: rgb(104, 104, 104);
    margin-right: .5rem;
    transition: all 0.3s ease;
}

.pagination a:hover{
    color: rgb(0, 0, 0);
}
