@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}
object{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 95dvw;
    height: 100dvh;
    margin: auto;
    padding: 6rem 2rem;
}
.cart{
    display: flex;
    justify-content: center;
}
.cart-preview{
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: white;
    padding: 1rem 2rem;
}
.cart-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #582c2c;
    margin-bottom: 1rem;
}
.cart-sub-titles{
    display: flex;
    justify-content: space-between;
}

.cart-product-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-image img{
    width: auto;
    height: 30px;
}

.header{
    color: #582c2c;
    margin-bottom: 1rem;
}

.sub-header{
    color: #844242;
    font-size: .7rem;
    margin-bottom: 2rem;
}
.quantity-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input input{
    padding: .3rem 0;
    text-align: center;
}

.quantity-input i{
    color: #844242;
}
.checkout{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(226, 226, 226);
    padding: 1rem 2rem;
}
.checkout-title{
    border-bottom: 1px solid #582c2c;
    margin-bottom: 1rem;
}
.checkout-sub-titles{
    display: flex;
    justify-content: space-between;
}
.checkout-sub-header{
    color: #844242;
    font-size: .7rem;
    margin-bottom: .5rem;
}

.checkout-sub-titles{
    color: #844242;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.shipping-info select{
    padding: .5rem;
    outline: none;
    margin-bottom: 1rem;
    border: 1px solid #844242;
    border-radius: 5px;
}

.promo-info{
    margin-bottom: 2rem;
}

.promo-info input{
    outline: none;
    padding: .5rem;
    margin-bottom: .5rem;
    border: 1px solid #844242;
    border-radius: 5px;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn1{
    cursor: pointer;
    padding: .2rem 1rem;
    border-radius: 5px;
    border: 1px solid #844242;
    transition: all 0.3s all;
}
.btn1:hover{
    background-color: #844242;
    border-color: #844242;
    color: white;
}

.total-price{
    font-size: 2rem;
    color: #844242;
    margin-bottom: 1rem;
}

.btn2{
    cursor: pointer;
    padding: 1rem 5.5rem;
    border-radius: 25px;
    background-color: #844242;
    border: 1px solid #844242;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn2:hover{
    background-color: #ee9a9a;
    border-color: #ee9a9a;
    color: black;
}