@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}
object{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 95dvw;
    height: auto;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.checkout{
    display: flex;
    padding: 2rem 6rem;
    justify-content: space-between;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.input input{
    width: 300px;
    padding: .3rem;
    border-radius: 3px;
    border: 1px solid #582c2c;
}

.input select{
    width: 300px;
    padding: .3rem;
}

.header{
    color: #582c2c;
    margin-bottom: 1rem;
    border-bottom: 1px solid #582c2c;
}
.billing-payment{
    width: 600px;
    max-width: 600px;
}

form{
    background-color: rgb(240, 240, 240);
    margin-right: 2rem;
    padding: 1rem 2rem;
}

.payment-details{
    width: 600px;
    max-width: 600px;
}

.input2 input{
    width: 150px;
    margin-right: 1rem;
    
}

.input2{
    flex-direction: row;
}

select{
    margin-bottom: .5rem;
}

.month-year{
    display: flex;
    flex-direction: row;
}

.month-year label{
    margin-right: 1rem;
}

.month-year select{
    width: 100px;
    margin-right: 1rem;
}

.input3{
    flex-direction: row;
}
.input3 label{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.tos{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.tos p{
    font-size: .5rem;
}
