*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, #844242 0%, #582c2c 100%);
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 1rem;
}

.footer-logo img{
    display: flex;
    width: 200px;
    cursor: pointer;
    margin-bottom: .2rem;
    transition: all 0.3s ease;
}
.footer-column{
    margin-right: auto;
}
.footer-column p{
    color: rgba(255, 255, 255, 0.788);
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 1rem;

}
.footer .footer-column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}
footer .footer-column .socials a{
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
}
footer .footer-column .socials a:hover{
    color: rgba(255, 255, 255, 0.897);
    transform: scale(0.95);
    background-color: #000c33;
    border-color: #000c33;
}

footer .footer-column h4{
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 3px solid #522929;
}
footer .footer-column > a{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.884);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .5rem;
    transition: all 0.3s ease;
}
footer .footer-column > a:hover{
    color: #000c33;
}