*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    display: flex;
}

.nav{
    max-width: 1200px;
    height: 80px;
    margin: auto;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
}
.nav-logo img{
    display: flex;
    width: 130px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-logo img:hover{
    transform: scale(1.2);
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    color: white;
    position: relative;
    padding-bottom: 0.75rem;
    transition: all 0.3s ease;
}
.link a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #8ba6ff;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}

.search-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.search-cart a i{
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease;
}
.search-cart a i:hover{
    color: #8ba6ff;
    font-size: 2.2rem;
}
.search-cart input{
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 50px;
}