*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    display: flex;
}

.banner-img{
    max-width: 100vw;
    height: auto;
}


.categories{
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding: .5rem 2rem;
}
.filter-option{
    margin-bottom: .5rem;
}

.categories-filter :nth-child(5){
    margin-bottom: .7rem;
}

.btn6{
    padding: .2rem 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #8ba6ff;
    border-radius: 50px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn6:hover{
    background-color: #8ba6ff;
    border: 1px solid #8ba6ff;
}

.categories-menu{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 25%;
    height: 25vh;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
}

.categories-menu h4{
    font-size: 1.2rem;
    padding-bottom: .3rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid black;
}

.categories-menu a{
    color: black;
    margin-bottom: .5rem;
}

.categories-menu a:hover{
    color: rgb(0, 92, 197);
}

.header{
    margin-bottom: .5rem;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #f0b5a3b6;
}

.products-section{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

.line{
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background-color: #f0b5a3b6;
}

.sub-header{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.products{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* border: 1px solid #8ba6ff; */
    padding: 0 2rem;
    margin-bottom: 1rem;
}
.products .product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 4rem 2rem 1rem 2rem;
    margin: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
    transition: all 0.3s ease;
}
.products .product-card:hover{
    background-color: rgba(236, 236, 236, 0.781);
    transform: scale(1.05);
}


.product-card h4{
    font-weight: 300;
    margin-bottom: .5rem;
    font-size: .9rem;
}
.product-card p{
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.product-card a{
    color: black;
    transition: all 0.3s ease;
}
.product-card a:hover{
    transform: scale(1.05);
    color: #686868;
}
.product-card img{
    margin-top: 10px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-card{
    position: relative;
    display: inline-block;
}

.product-card .img-top{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s ease;
}
.product-card .img-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    transition: all 0.2s ease;
}

.product-card:hover .img-top{
    opacity: 1;
    transform: scale(1.05);
}
.product-card:hover .img-back{
    opacity: 0;
}

.filter-option label{
    cursor: pointer;
}

.filter-option input{
    cursor: pointer;
}