@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, #001135 0%, #000a20 50%, #00081a 100%);

}
object{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 95vw;
    margin: auto;
    padding: 4rem 3rem;
    display: flex;
    justify-content: space-between;
    
}
.main-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.226); */

}

.circle{
    border: 1px solid transparent;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #8ba6ff;
    z-index: -100;
}
.img-frame{
    position: absolute;
    width: 25%;
    height: 550px;
    background-image: url(../slike/landingbg6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #8ba6ff;
    border-radius: 50px;
}
.main-text{
    margin-top: 2rem;
    width: 100%;
}
.main-text h4{
    color: rgba(255, 255, 255, 0.664);
    font-size: 1rem;
    font-weight: 400;
}

.main-text h1{
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 3.9rem;
    font-weight: 500;
    line-height: 4.5rem;
}

.main-text p{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.712);
    margin-bottom: 3rem;
}
.main-text strong{
    color: #8ba6ffcc;
    font-weight: 800;
}
.main-text span{
    font-weight: 800;
    font-size: 8rem;
    text-transform: capitalize;
    color: #8ba6ff;
}
.btn{
    margin-right: 25px;
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid #8ba6ff;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn2:hover{
    background-color: #8ba6ff;
    border-color: #8ba6ff;
}
.btn1:hover{
    background-color: #8ba6ff;
    border-color: #8ba6ff;
}

.trending{
    background-color:white;
    padding: 1rem 6rem;
    margin: 0 auto;
}
section .header{
    margin-bottom: .5rem;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid #8ba6ff; */
    padding: 2rem;
    margin-bottom: 1rem;
}
.products .product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 8rem 4rem 1rem 4rem;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
    transition: all 0.3s ease;
}
.products .product-card:hover{
    border: 1px solid rgba(0, 6, 20, 0.855);
}


.product-card h4{
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: .9rem;
}
.product-card p{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.product-card a{
    color: black;
    transition: all 0.3s ease;
}
.product-card a:hover{
    color: #686868;
}
.product-card img{
    margin-top: 20px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.featured{
    background-color: white;
}
.featured-content{
    display: flex;
    padding: 1rem 0;
}
.featured img{
    display: flex;
    width: 700px;
    margin-right: 50px;
}

.product-card{
    position: relative;
    display: inline-block;
}

.product-card .img-top{
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 99;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.product-card .img-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.product-card:hover .img-top{
    opacity: 1;
    transform: scale(1.05);
}
.product-card:hover .img-back{
    opacity: 0;
}

.sub-header{
    font-size: 1.5rem;
    font-weight: 600;
}
.feature-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 1rem;
}
.feature-text h4{
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 2rem;
}
.feature-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}
.feature-text p:nth-of-type(2){
    margin-bottom: 1.5rem;
}
.btn3{
    text-align: center;
    color: black;
    background-color: transparent;
    border: 1px solid inherit;
    transition: all 0.3 ease;
    margin-bottom: 2rem;
}
.btn3:hover{
    color: rgb(0, 0, 0);
    background-color: #f0b5a3;
    border-color: #ffe6e6;
}
.line{
    background-color: #f0b5a3b6;
    padding: .3rem;
    margin-bottom: 2rem;
}