@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, #844242 0%, #582c2c 50%, #2c1616 100%);
    width: 100dvw;
}
object{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 95dvw;
    margin: auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    
}
.main-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.226); */

}

.circle{
    border: 1px solid transparent;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #8ba6ff;
    z-index: -100;
}
.img-frame{
    position: absolute;
    width: 25%;
    height: 550px;
    background-image: url(../slike/landingbg6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #8ba6ff;
    border-radius: 50px;
}
.main-text{
    margin-top: 2rem;
    width: 100%;
}
.main-text h4{
    color: rgba(255, 255, 255, 0.664);
    font-size: 1rem;
    font-weight: 400;
}

.main-text h1{
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 3.9rem;
    font-weight: 500;
    line-height: 4.5rem;
}

.main-text p{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.712);
    margin-bottom: 3rem;
}
.main-text strong{
    color: #8ba6ffcc;
    font-weight: 800;
}
.main-text span{
    font-weight: 800;
    font-size: 8rem;
    text-transform: capitalize;
    color: #8ba6ff;
}
.btn a{
    color: white;
}
.btn{
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid #8ba6ff;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn2:hover{
    background-color: #8ba6ff;
    border-color: #8ba6ff;
}
.btn1:hover{
    background-color: #8ba6ff;
    border-color: #8ba6ff;
}

.trending{
    position: relative;
    background-color:white;
    padding: 3rem 5rem;
    margin: 0 auto;
}
.trending .btn{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 45%;
    transform: translateY(-50%);
}
.trending .btn3:hover{
    color: white;
}

section .header{
    margin-bottom: .5rem;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid #f0b5a3b6;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid #8ba6ff; */
    padding: 2rem;
    margin-bottom: 1rem;
}
.products .product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 8rem 4rem 1rem 4rem;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
    transition: all 0.3s ease;
}
.products .product-card:hover{
    background-color: rgba(236, 236, 236, 0.781);
    transform: scale(1.05);
}


.product-card h4{
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: .9rem;
}
.product-card p{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.product-card a{
    color: black;
    transition: all 0.3s ease;
}
.product-card a:hover{
    transform: scale(1.05);
    color: #686868;
}
.product-card img{
    margin-top: 20px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-card{
    position: relative;
    display: inline-block;
}

.product-card .img-top{
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s ease;
}
.product-card .img-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    transition: all 0.2s ease;
}

.product-card:hover .img-top{
    opacity: 1;
    transform: scale(1.05);
}
.product-card:hover .img-back{
    opacity: 0;
}

.featured{
    background-color: white;
    padding: 1rem 2rem;
}
.featured-content{
    display: flex;
    text-align: center;
    padding: 1rem 0;
}
.featured img{
    display: flex;
    width: 650px;
    margin-right: 50px;
}

.sub-header{
    font-size: 1.5rem;
    font-weight: 600;
}
.feature-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 1rem 1rem;
}
.feature-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftr-input{
    border: 1px solid rgba(0, 0, 0, 0.151);
    padding: 1rem 3rem;
    border-radius: 50px;
    margin-bottom: .5rem;
    text-align: center;
}
.ftr-input:hover{
    border: 1px solid rgb(107, 107, 107);
}
.ftr-input:focus{
    background-color: rgb(245, 245, 245);
}

.feature-text h4{
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 2rem;
}
.feature-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}
.feature-text p:nth-of-type(2){
    margin-bottom: 3rem;
}
.btn3{
    text-align: center;
    background-color: transparent;
    border: 1px solid inherit;
    transition: all 0.3 ease;
    margin-bottom: 2rem;
    color: black;
}
.btn3 a{
    color: black;
}

.btn3:hover{
    background-color: #844242;
    border-color: #844242;
    color: white;
}
.btn3 a:hover{
    color: white;
}



@media (width < 1200px){
    .main{
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }
    .main-text{
        margin-bottom: 1rem;
    }
    .main-img{
        margin: 0;
        margin-bottom: 1rem;
    }
    .img-frame{
        height: 400px;
    }
    .circle{
        width: 350px;
        height: 350px;
    }
    .featured-content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .featured img{
        display: flex;
        width: 350px;
        margin-right: 0;
    }
    .main-text h1{
        font-size: 3rem;
    }

}

@media (width < 600px){

    .img-frame{
        display: none;
    }
    .circle{
        display: none;
    }

    .featured-content{
        flex-wrap: wrap;
    }
    .main-text h1{
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .main-text h1 span{
        font-size: 3rem;
    }
    .main-text p{
        font-size: .8rem;
    }
    .products{
        padding: .2rem;
    }
    .trending .btn{
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 35%;
        transform: translateY(-50%);
    }
}