
<head>
    <link rel="stylesheet" href="../css/footer.css">

    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>

<footer class="footer">
        <div class="footer-column">
            <div class="footer-logo">
                <img src="../slike/logo-img2.png">
            </div>
            <p>Sunrise to Sunset: <br>Embrace Fashion and Function</p>
            <div class="socials">
                <a href="#"><i class="ri-youtube-fill"></i></a>
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h4>About Us</h4>
            <a href="#">History</a>
            <a href="#">Team</a>
            <a href="#">Mission</a>
        </div>
        <div class="footer-column">
            <h4>Categories</h4>
            <a href="#">Brand New</a>
            <a href="#">Trending</a>
            <a href="#">Sales</a>
        </div>
        <div class="footer-column">
            <h4>Our Info</h4>
            <a href="#">Bussiness</a>
            <a href="#">Lorem, ipsum.</a>
            <a href="#">Lorem.</a>
        </div>
</footer>