
<head>
    <link rel="stylesheet" href="../css/header.css">

    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
    <header>
        <div class="nav">
            <div class="nav-logo">
                <img src="../slike/logo-img.png">
            </div>
            <ul class="nav-links">
                <li class="link"><a href=#>About</a></li>
                <li class="link"><a href=#>Shop</a></li>
                <li class="link"><a href=#>Contact</a></li>
                <li class="link"><a href=#>Register</a></li>
            </ul>
            <div class="search-cart">
                <input type="text" placeholder="Search Now">
                <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
            </div>
        </div>
    </header>