
    <section id="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="index.html" target="_parent"><img src="slike/logo-img.png"></a>
            </div>
            <ul class="nav-links">
                <li class="link"><a href="shop.html" target="_parent">Shop</a></li>
                <li class="link"><a href="blog.html" target="_parent">Blog</a></li>
                <li class="link"><a href="about.html" target="_parent">About</a></li>
                <li class="link"><a href="contact.html" target="_parent">Contact</a></li>
            </ul>
            <div class="search-cart">
                <input type="text" placeholder="Search Now" onfocus="this.placeholder=''" 
                onblur="this.placeholder='Search Now'" required>
                <a href="cart.html" target="_parent"><i class="ri-shopping-cart-2-line"></i></a>
            </div>
        </div>
    </section>