@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}
object{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 95vw;
    margin: auto;
    padding: 4rem 2rem;
}

.product-detail{
    display: flex;
    justify-content: space-around;
}

.slider{
    position: relative;
    margin: auto;
    width: 75%;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.466);
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.slider img{
    width: 75%;
    height: 350px;
    display: none;
    object-fit: contain;
}
.slides{
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: .5s;
}

.slider button{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: .5rem 1rem;
    background-color: transparent;
    color: rgba(66, 66, 66, 0.527);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider button:hover{
    color: rgba(66, 66, 66, 0.712);
}

.slider button:active{
    color: rgba(66, 66, 66, 0.884);
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.header{
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    border-bottom: 1px solid #844242;
}

.price-rating{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.rating{
    color: rgb(236, 95, 0);
    font-size: 1.2rem;
}

.price{
    color: white;
    font-size: 2.3rem;
    margin-bottom: .5rem;
}


.tos{
    color: white;
    font-size: .7rem;
    margin-bottom: 1rem;
}

.rates{
    font-size: 0.9rem;
}

.rates a{
    color: white;
    text-decoration: underline;
    font-size: 0.7rem;
}

.size{
    padding: .5rem;
    border: 1px solid white;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    margin-bottom: 1rem;
}

.size option{
    color: black;
}

.colors{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color:nth-child(1){
    background-color: rgb(153, 96, 9);
}

.color:nth-child(2){
    background-color: rgb(148, 25, 25);
}

.color:nth-child(3){
    background-color: rgb(26, 26, 26);
}

.color:nth-child(4){
    background-color: rgb(109, 109, 109);
}

.color{
    width: 50px;
    height: 50px;
    margin-right: .5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
}

.product-info{
    height: 100%;
    padding: 1rem;
    width: 600px;
    max-width: 600px;
    text-align: center;
    background: linear-gradient(0deg, #582c2c 0%, #2c1616 100%);
    border-radius: 0 25px 25px 0;
}
.product-info p{
    color: rgb(207, 207, 207);
}

.btn{
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.main2{
    padding: 1rem 2rem 4rem 1rem;
}

.warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
.tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background: #582c2c;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
.panels{
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000021;
    min-height:200px;
    width:100%;
    max-width:100dvw;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
  }
.panel{
    display:none;
    animation: fadein .8s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
.panel-title{
    font-size:1.5em;
    font-weight:bold;
    margin-bottom: 1rem;
  }

.user-title{
    font-size:1.2rem;
    font-weight: 600;
}

.user-rating{
    color: rgb(236, 95, 0);
    font-size: 1.2rem;
}

.panel p{
    margin-bottom: 1rem;
}

.radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #844242;
  }

@media(width<1200px){
    .product-info{
        font-size: 50%;
    }
    .product-detail{
        flex-wrap: wrap;
    }
}
@media(width<600px){
    .product-detail{
        flex-wrap: wrap;
    }
}